
.app{
  display: flex;
  justify-content: space-evenly; 
  padding: 10px;
}
.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__dropdown{
  width: 200px;
}
.app__statistics{
  justify-content: space-between;
  display: flex; 
  align-items: center;
}
.app__center{
  flex: 1;
  margin: 20px;
}
.app > .app__left{
  flex: 0.50;
  margin-right: 5px;
}
.app > .app__right{
  flex: 0.50;
  margin-left: 5px;;
}
.app > .app__right > h3{
  padding: 10px 5px 0 20px;
}
.app__buttons{
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}
.app__rightInfo{
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  display: flex;
}
@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}